
h1 {
    font-size: 36px;
    margin-bottom: 60px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    color: #000;
}

button {
    border: none;
    padding: 10px 15px;
    background: #f37621;
    color: #FFF;
}
button:hover {
    background: #d55d0c;
    color: #ccc;
}
input {
    margin-left: 15px;
}
.block-section {
    margin-bottom: 45px;
}

.listaParticipantes {
    margin-bottom: 45px;
}

.listaParticipantes li {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaParticipantes li span {
    font-size: 18px;
}